body{
    background: #081b29;
}
h1{
    color: #08d665;
}
#cv{
    text-decoration:none;
    color:#08d665;
    font-weight: bold;
    border: 2px solid;
    padding: 10px;
    border-radius: 50%;
}
#cv:hover{
    background-color: #08d665;
    color: #00abf0;
}
#bn{
    color: whitesmoke;
}
