.test1{
    color: rgb(1, 1, 245);
}
h1{
    color: blueviolet;
}
li{
    color: red;
}
h2{
    color: blue;
}
body{
    background-color: yellow;
}
#main_title{
    color: rgb(5, 255, 5)
}
